<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find simulation)/urdf/robot.urdf'" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1.5"/>

    <node name="Dog robot" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model Dog robot -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>